# K8S-related
logs/
.log-runner.sh
done
._*.yaml
tmeseg-infer/*.yaml
._Dockerfile


# Mac-related
.DS_Store
._.DS_Store
._*

tmeseg-eval/predict_patch.py
tmeseg-eval/evaluate_TMEseg6class.py

# model checkpoints and data
tmeseg-infer/model/mit*
data/*.csv
figure/*.csv
figure/*.pdf
zenodo/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
._*.py
*.pyc
.venv/
.env

# R
.Rhistory
.Rproj.user/
.RData
# OS/IDE
.DS_Store
.vscode/
# Data/outputs (adjust to your needs)
data/
outputs/
*.tiff
*.tif
*.ndpi
*.svs
*.pt
*.h5
*.hdf5

cell-refine/*
